.odd1{
	-fx-background-color:gray;
	-fx-padding:20px;
	-fx-font-size:150%;
	-fx-text-fill:white;
}
.even1{
	-fx-background-color:darkgrey;
	-fx-padding:20px;
	-fx-font-size:150%;
	-fx-text-fill:white;
}
.odd2{
	-fx-background-color:green;
	-fx-padding:20px;
	-fx-font-size:150%;
	-fx-text-fill:white;
}
.even2{
	-fx-background-color:darkgreen;
	-fx-padding:20px;
	-fx-font-size:150%;
	-fx-text-fill:white;
}
.buttons{
	-fx-alignment:center;
}
.question{
	-fx-alignment:center;
	-fx-font-size:150%;
	-fx-background-color:black;
}
.text{
	-fx-text-fill:white;
}